@charset "UTF-8";
/* Import Open Sans Hebrew font */
/*@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);*/
/*@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);*/

/*!
Copyright (c) 2015 Yuval Shukroon
*/
/* .sort-filter-bar */

/* General Layout Templates */
.dl-menuwrapper {
	float:left;
}