@charset "UTF-8";
/* Import Open Sans Hebrew font */
/*@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);*/
/*@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);*/

/*!
Copyright (c) 2015 Yuval Shukroon
*/
/* .sort-filter-bar */

/* General Layout Templates */
html {
	
}

/*.site-header-navigation-bar {
	display:none;
}
.site-header-category-buttons {
	display:none;
}*/
.mobile-remove {
	display: none;
}
.site-header-navigation-bar-sticky-mobile {
	display:block;
}
.mobile-category-bar {
	display: inline-block;
}
.sort-filter-bar, #mobile-category-bar,  {
	margin: 5px 0px 5px 0px;
}
.search-box-text-mobile {
	width: 130px;
	margin: 5px 10px 5px 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}/*
.search-box {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    width: 130px;
    padding-right: 5px;
}
.sort-filter-wrap {
	text-aligh: center;
	height: auto;
	margin-bottom: 20px;
}*/
footer {
	display: block;
}
.element-item {
	width: 300px;
}

.site-header-subtitle {
	padding: 10px 20px 0px 20px;
}
header {
	height: 220px;
}
footer {
	height: 32px;
}
.site-header-with-buttons {
	height: 225px;
}

/* light boxes modifications */
.lightbox_inner {
	margin: 0px 0px 0px 0px;
	background-color: white;
}
.white_content {
    top: 10%;
    left: 0%;
    /*padding: 16px;
    border: 16px solid orange;*/
    background-color: white;
    z-index:1002;
    overflow: auto;
    width: auto;
    height: auto;
    /*height: 400px;*/
}
#newsletter {
	width: 100%;
	/*height: 100%;*/
	background:  url(../assets/newsletter.jpg);
	height: 400px;
}
#newsletter-inner {
	height: 400px;
	margin: 0px 0px 0px 0px;
	background-color: white;
}
/* about settings */
#about, #business-owner, #terms, #newsletter  {
	width: auto;
	height: auto;
	background: #6146c7;
	/*width: 100%;
	height: 100%;
	background:  url(../assets/about.jpg);*/
}
#about-inner, #business-inner,#terms-inner,#newsletter-inner {
	height: auto;
	margin: 20px 20px 20px 20px;
}
#about-info, #business-info, #terms-info {
	padding: 10px 10px 10px 10px;
}
.site-header-title {
	margin-top: 75px;
	font-size: 35px;
}
.site-header-subtitle {
	padding-top: 10px;
	font-size: 20px;
}

/* hack to prevent iphones/ipads to zoom in on selection */
@media screen and(-webkit-min-device-pixel-ratio: 0){
select, textarea, input {
        font-size: 16px;
}}

/* Adjust newsletter on mobile*/
#mce-EMAIL {
	width: 80%;
}
#mc-embedded-subscribe {
	margin: 10px 0px 10px 0px;
}

/* lightbox font sizes */
.white_content h1 {
	font-size:20px;
}
.white_content p {
	font-size:18px;
}
.lightbox-close-img {
    margin-top: 10px;
    margin-right: 10px;
}
.white_content_map {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        /*padding: 16px;
        border: 16px solid orange;*/
        background-color: white;
        z-index:1002;
        overflow: auto;
        background: background: url(../assets/about.jpg);
    }
#no_filter_results {
	padding-top: 10px;
}