@charset "UTF-8";
/* Import Open Sans Hebrew font */
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2015 Yuval Shukroon
*/

/* General Layout Templates */
html {
	
}
html,body{
    margin:0;
    padding:0;
    font-family: 'Open Sans Hebrew', sans-serif;
    font-weight: regular;
}
body {
	height:100%;
	direction: rtl;
}
header{
    width: 100%;
    /*position: fixed; 
    top: 0;*/
    height: 380px; /*!important;*/
}
.content {
    width:100%; /* Sizing - any length */
    background-color: #e2e2e2;
    overflow: hidden;
}
footer {
    width: 100%;
    background: #000000;
    opacity: 0.9;
    position: fixed; 
    bottom: 0;
    height: 25px;
    z-index: 101;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
}
a:link {
    text-decoration: none;
    color: #4285f4;
}
body > header > div.mobile-remove > div > div > div.site-header-nav-button.button-facebook.hover-class > a:link {
	color: black;
}
body > header > div.mobile-remove > div > div > div.site-header-nav-button.button-facebook.hover-class > a:visited {
	color: black;
}
.site-header-nav-button.button-facebook > a:link, .site-header-nav-button.button-facebook > a:visited {
	color: white;
}

/*.site-header-nav-button a:link, .site-header-nav-button a:visited, {
	color: white;
}*/
footer a:link{
	color: #afafaf;
}
footer a:visited{
	color: #afafaf;
}

/* Isotope RTL support 

/* Isotope Grid Items */
.element-item {
	float: right;
	width: 300px;
	height: 450px;
	background-color: white;
	/*margin: 0 auto;*/
	margin-bottom: 22px;
	/*margin-left: 10px;*/
}
.element-item-map {
	float: right;
	width: 300px;
	height: 300px;
	background-color: white;
	/*margin: 0 auto;*/
	/*margin-left: 10px;*/
	text-align: right;
}
/*
.element-item--width2 { width: 400px; }
.element-item--height2 { height: 400px; }*/
/* ---- buttons ---- */

/* Header divs */
.site-header-with-buttons {
	background: url(../assets/cover_long.jpg);
	background-position:center;
	width: 100%;
	height: 380px;
	text-align:center;
	position: absolute;
    top: 0;
    color: white;
}

.site-header-category-buttons {
	padding-top: 15px;
    bottom: 0px;
    vertical-align: bottom;
    position: absolute;
    width:100%;
    font-size: 20px;
}
.color-strip {
	margin-top: 14px;
	height: 10px;
} 
.item-strip {
	position: absolute;
	margin-top: 0px;
	height: 10px;
	width: 100%;
	z-index:100;
} 
/* Tiles Related Stylinig */
.item-main-info {
	height: 450px;
	z-index: 100;
}
.item-other-info {
	height: 450px;
	display: none;
}
.bg-img {
	position: relative; 
   	width: 100%; /* for IE 6 */
}
.item-tag-icon {
	position: absolute;
    left: 10px;
    top: 20px;
}
#bg-img {
	width:100%;
	height:240px;
	-webkit-filter: brightness(0.6);
	/* for FF */
	filter: brightness(0.6);
}
.item-img-title {

}
#icon-img {
	position: absolute;
	top: 0px;
	left: 20px;
	width:70px;
	heigth:50px;
}
.main-details {
	padding: 5px 15px 5px 15px;
	width: 270px;
	/*height: 70px;*/
	font-size: 22px;
	color: #1b1b1b;
}
.main-offer {
	height: 60px;
}
.main-hours {
	font-size: 20px;
	height: 50px;
}
.item-address {
	padding:0 15px;
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}
.item-name {
	padding: 0 15px;
}
.item-headline {
   position: absolute; 
   top: 150px; 
   left: 0; 
   width: 100%; 
   font-size: 30px;
   color: white;
   margin-right: 10px;
}
.item-dates {

}
.item-map {

}
.item-details {

}
.item-phone {

}

.map-item {
	width: 100%;
	height: 240px;
	border:0;
}
.grid {
	margin: 0 auto;
	/*margin: 25px;*/
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.sort-bar {
	height: 110px;
	width: 100%;
}
.site-header-title {
	margin-top: 50px;
	font-size: 50px;
}
.site-header-subtitle {
	/*padding-top: 10px;*/
	font-size: 25px;
}
.site-header-navigation-bar {
	width: 1000px;
 	margin:30px auto;
 	text-align: right;
 	font-size: 18px;
}
.sticky-bar {
	margin: 10px auto 10px auto;
}
.site-header-nav-button {
	float: left;
	display: inline-block;
	margin-right: 50px;
	padding: 10px 0 10px 0;
}
.button-talk {
	background-color: #ff3e3e;
	text-align: center;
	width: 145px;
	color: white;
}
.button-main {
	float:inherit;
	font-size: 30px;
	padding: 0;
	margin-right: 0px;
}
.button-main-sticky {
	color: #ff3e3e;
}
.site-header-navigation-bar-sticky {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    font-color: black;
    display: none;
    z-index:101;
    text-align: center;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
}
.site-header-button {
	display:inline-block;
	text-align: center;
	margin: 0 15px 0px 0px;
	font-size: 20px;
	width: 168px;
}
.category-img {
	/*background-color: white;
	max-width:50px;
    max-height:50px;*/
    width: auto;
    height: auto;
    margin-top: 10px;
}
.sort-filter-bar,#mobile-category-bar {
	text-align: center;
	display: inline-block;
	width: 202px;
	background-color: white;
	margin: 0px 10px 0 10px;
}
.sort-filter-wrap {
	display: block;
	text-align: center;
	height: auto;
	margin: 15px 0px 15px 0px;
}
select {
	width: 160px;
}
.switch_button {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 40px;
  bottom: 0px;
  color: #8c8c8c;
  border-top: 1px solid #cccccc;
  font-size: 18px;
  padding-top: 15px;
transition: opacity 0.5s;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
-o-transition: all ease 0.5s;
-ms-transition: all ease 0.5s ;
transition: all ease 0.5s ;
}
 /*
.switch_button:hover {
background:#ff3000;
color:#fff;
-webkit-transition: all ease 0.7s;
-moz-transition: all ease 0.7s;
-o-transition: all ease 0.7s;
-ms-transition: all ease 0.7s ;
transition: all ease 0.5s ;
}
*/

}
.button {
  background: #828d97;
  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;*/
  color: #ffffff;
  font-size: 20px;
  /*padding: 10px 25px 10px 25px;*/
  text-decoration: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.hover-class:hover {
  cursor: pointer;
}
.main-distance {
	font-size: 16px;
	color: #8c8c8c;
	/*padding: 10px 0 10px 0;*/
	margin-top: 5px;
	display: none;
}
.more-offer {
	padding: 15px 15px 15px 15px;
}
.offer-details {
	font-size: 18px;
}
.offer-contacts {
	margin-top: 5px auto;
	color: #4285f4;
	height: 64px;
}
.item-phone-number {
	font-size: 20px;
}
.item-url {
	font-size: 20px;
}
.br_color {
	background-color: #ffbd00;
}
.bl_color {
	background-color: #24ce84;
}
.hh_color {
	background-color: #ff3e3e;
}
.ln_color{
	background-color: #6146c7;
}
.all_color{
	background-color: #8af34a;
}
.arrow-img{
}
.search-box {
	height: 40px;
	background-color: white;
	width:202px;
	display:inline-block;
	margin: 0px 10px 0 10px;
}
.search-box-text,.search-box-text-mobile {
	height: 40px;
	width: 150px;
	display:inline-block;
	outline: none;
	border: none;
	border-color: transparent;
	padding: 0px 0px 0px 0px;
}
.search-box-button {
	margin-right: 5px;
	display:inline-block;
}
#sort-menu, #mobile-category-menu, #filter-menu {
	outline: none;
	border: none;
	height: 40px;
	width: 202px;

}
/* LightBox Configurations */
.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
        display: none;
        position: fixed;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        /*padding: 16px;
        border: 16px solid orange;*/
        background-color: white;
        z-index:1002;
        overflow: auto;
    }

.white_content_map {
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        /*padding: 16px;
        border: 16px solid orange;*/
        background-color: white;
        z-index:1002;
        overflow: auto;
        background: background: url(../assets/about.jpg);
    }
.lightbox-close-img {
	/*content: url(../assets/close_lightbox.png);*/
	margin-top: 20px;
	margin-right: 20px;
	cursor: pointer;
	/*src="assets/close_lightbox.png"/ style="margin-top:20px;margin-right:20px;"*/
}
h1 {
	margin: 0;
}
p {
	font-size: 20px;
	font-style: regular;
}
.lightbox_inner {
	margin: 50px 50px 50px 50px;
	background-color: white;
}
.lightbox_info {
	text-align: center;
	font-family: 'Open Sans Hebrew', sans-serif;
}

/* Newsletter Form settings */
#newsletter {
	width: 750px;
	height: 365px;
	background:  url(../assets/newsletter.jpg);
}
#newsletter-inner {
	height: 265px;
	margin: 50px 50px 50px 50px;
	background-color: white;
}

#newsletter-info {
	text-align: center;
}

#mc_embed_signup_scroll {
}
#mc-embedded-subscribe {
	height: 60px;
	width: 140px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Open Sans Hebrew', sans-serif;
}
#mce-EMAIL {
	height: 60px;
	width: 320px;
	background-color: #ededed;
	font-size: 20px;
	outline: 0;
	border: 0;
	padding-right: 10px;
	font-family: 'Open Sans Hebrew', sans-serif;
}
#mc_embed_signup {
	display: inline;
}
.clear {
	display: inline;
}
div.mc-field-group {
	display: inline;
}
.news-button {
	display: inline-block;
	border: 0;
	background-color: #ff3e3e;
	font-color: #ffffff;
}

/* about settings */
#about, #business-owner, #terms  {
	width: 750px;
	height: 400px;
	background: url(../assets/about.jpg);
}
#about-inner, #business-inner,#terms-inner  {
	height: 300px;
}
#about-info, #business-info, #terms-info {
	padding: 0px 50px 50px 50px;
}
.site-header-click {
	background-color: #ff3e3e;
}
/* business owner settings */
/* Same as About at this stage */
/* Mobile Top Nav Bar */
.site-header-navigation-bar-sticky-mobile {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #ff3e3e;
    color: white;
    display: none;
    z-index:101;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.25);
	text-align: right;
}
.mobile-bar-headline {
	text-align: center;
	display:inline;
	position: absolute;
    /* display: inline; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size:30px;
}
.mobile-category-bar {
	display:none;
}
/* Category Background Filler */
.category-background {
	position:absolute;
	width:100%;
	height:100%;
	background: green;
}

/* Additions for Google Maps InfoWindow */
.gm-style {
	font-family: 'Open Sans Condensed', sans-serif;
	overflow: hidden;
}
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
	overflow:hidden!important;
	font-family: 'Open Sans Condensed', sans-serif;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
#mapView-inner {
	height: inherit;
	margin: 1% 1%;
	max-width: 100%;
	text-align: center;
}
.box-close-map {
	margin: 0px 0px;
	float: right;
	cursor: pointer;
}
.map-view-button {
	margin: 1% 2%;
	opacity: 1;
	cursor: pointer;
}
.bg_img_map {
	text-align: left;
}
.item-tag-icon-map {
	position: inherit;
}
.item-headline-map {
	position: relative;
	top: 0px;
	color: black;
	text-align: right;
	margin-right: 0px;
	padding-top: 20px;
}
.offer-contacts-map {
	height:50px;
}
.item-strip-map {
	width: 300px;
}
#no_filter_results {
	width: 100%;
	height: 100%;
	display:none;
	background-color: white;
	text-align: center;
	padding-top: 100px;
}
.adsense-banner {
	width: 100%;
	height: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*background-color: red;*/
	text-align: center;
}
.adsense-banner-footer {
	width: 100%;
	height: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}